html, body {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}

body {
    width: 90%;
    margin: auto;
}

#Intro {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0;
}

.PageLinkText {
    font-size: 2.5rem;
}

.PageLinkText span {
    margin-right: .05rem;
    font-weight: bold;
}

#IntroText {
    text-align: center;
    font-size: 3.5rem;
}

.MainText {
    margin: 15px 0;
}

.SocialLinkList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;

    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: #a9a9a9 2px dotted;
}

#ProfilePhoto {
    width: 60%;
    border-radius: 50px;
    margin-bottom: 25px;
}

a.SocialLink {
    display: block;
    text-decoration: none;
    color: black;
}

a.SocialLink:hover {
    box-shadow: black 1px 2px;
}

a.SocialLink {

    text-underline: none;

    margin: 10px 0;
    padding: 15px;

    border: solid black 2px;
    border-radius: 5px;
}

.SocialLinkHeader > img {
    width: 60px;
    margin-right: 10px;
}

.SocialLinkText {
    font-size: 1.75rem;
}

.SocialLinkHeader {
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    padding-bottom: 15px;
}

footer {
    height: 50px;
}

/* Large screens */
@media (min-width: 1200px) {

    body {
        width: 70%;
    }

    #Intro {
        padding-top: 100px;
    }

    #ProfilePhoto {
        width: 30%;
    }

    #IntroText {
        font-size: 2.5rem;
    }

    .SocialLinkList {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .PageLinkText {
        font-size: 1.5rem;
    }

    a.SocialLink {
        width: 40%;
    }

    .SocialLinkText {
        font-size: 1rem;
    }

    .SocialLinkHeader {
        font-size: 1.5rem;
    }

    .SocialLinkHeader > img {
        width: 35px;
        margin-right: 7px;
    }
}
