html, body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    width: 90%;
    margin: auto;
}

#Intro {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0;
}

#IntroText {
    text-align: center;
    font-size: 3.5rem;
}

.MainText {
    margin: 15px 0;
}

.SocialLinkList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}

#ProfilePhoto {
    width: 60%;
    border-radius: 50px;
    margin-bottom: 25px;
}

.SocialLink {
    text-underline: none;

    margin: 10px 0;
    padding: 15px;

    border: solid black 2px;
    border-radius: 5px;
}

.SocialLink a {
    text-decoration: none;
    color: black;
}

.SocialLink a:hover {
    text-decoration: underline;
}

.SocialLinkHeader > img {
    width: 35px;
    margin-right: 7px;
}

.SocialLinkHeader {
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    padding-bottom: 10px;
}

footer {
    height: 50px;
}

/* Large screens */
@media (min-width: 1200px) {

    body {
        width: 70%;
    }

    #ProfilePhoto {
        width: 30%;
    }

    #IntroText {
        font-size: 2.5rem;
    }

    .SocialLinkList {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .SocialLink {
        width: 40%;
    }

    .SocialLinkHeader {
        font-size: 1.5rem;
    }
}
